<%- include("header") -%>
    <div class="box" id="heading">
        <h1><%= day %></h1>
    </div>
    <div class="box">
        <% listItems.forEach(element => { %>
            <form action="/delete" method="POST">
                <div class="item">
                    <input name="checkbox" type="checkbox" value="<%= element._id %>" onchange="this.form.submit()">
                    <p class="item"><%= element.item %></p>
                </div>
            </form>
            
        <% }); %>
        <form class="item" action="/" method="POST">
            <input type="text" name="new_item" placeholder="New Item" autocomplete="off" required>
            <button type="submit">+</button>
        </form>
    </div>
    
<%- include("footer") -%>